* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray; 
    display: flex;
   flex-wrap: wrap;
    padding-top: 2rem;
    margin: 0;
}

.add {
    position: fixed;
    top: 1rem;
    left: 0.5rem;
    height: 35px;
    width:  80px;
    margin: 1rem;
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: .5rem;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}  

.add:hover {
     background-color: rgb(207, 247, 247);
}

.instructions {
    margin-top: 2rem;
}

.note {
    height: 320px;
    width: 300px;
    border: none; 
    margin-top: 4rem;
    margin-left: 7rem;
    
}

.note:first-child {
    margin-left: 4rem;
}

.note .controls {
     background-color: rgb(207, 247, 247);
     display: flex;
     justify-content: flex-end;
     padding: .3rem;
}  

.note .controls button {
    padding: 0.3rem;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: white;
    margin-left: .4rem;
    cursor: pointer;
}

.note .controls button:hover {
    background-color: lightgray;
}

.note .main {
    background-color: blueviolet;
    display: none;
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.note textarea {
    outline: none;
    border: none;
    font-size: 18px;
    padding: .4rem;
    height: 300px;
    width: 100%;
   
}

.note textarea::placeholder {
    font-size: 18px;
    font-style: oblique;
    padding: .5rem; 
}